<div class="inline-menu-container">
  <span class="status">I'm available for freelance</span>
  <ul class="inline-menu">
    <li class="about menu-item">About</li>
    <li class="experience menu-item">Experience</li>
    <li class="portfolio menu-item">My projects</li>
    <li class="contact menu-item">Contact</li>
    <li id="close" class="menu-item"><i class="fas fa-times"></i></li>
  </ul>
</div>
<section class="home img-bg">
  <div class="overlay opacity5"></div>
  <div class="container">
    <div class="name-block">
      <div class="name-block-container">
        <h1><span>Hi, I'm</span>Ismael Ramos</h1>
        <h2 id="element"></h2>
        <a target="_blank" href="assets/pdf/{{localeId}}/IsmaelRamos.pdf" class="btn btn-download">Download Resume</a>
        <ul class="social">
          <li><a href="https://github.com/Ismaestro" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://stackoverflow.com/users/1919749/ismaestro" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ramossilvanismael/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.medium.com/@ismaestro" target="_blank"><i class="fab fa-medium"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="menu-blocks">
      <div class="about-block menu-block">
        <div class="about-block-container">
          <h2 class="about menu-item">About</h2>
        </div>
      </div>
      <div class="experience-block menu-block">
        <div class="experience-block-container">
          <h2 class="experience menu-item">Experience</h2>
        </div>
      </div>
      <div class="portfolio-block menu-block">
        <div class="portfolio-block-container">
          <h2 class="portfolio menu-item">My projects</h2>
        </div>
      </div>
      <div class="contact-block menu-block">
        <div class="contact-block-container">
          <h2 class="contact menu-item">Contact</h2>
        </div>
      </div>
    </div>
    <div class="content-blocks about">
      <section class="content" id="about">
        <div class="block-content">
          <h3>
            I am a full time <strong>front-end developer</strong> and do full stack in the remaining time.
          </h3>
          <p class="m-0">
            I work on both sides in my personal projects, but front end is what I like the most.
          </p>
          <p class="m-0">
            I have completed my Computer Science degree, and finished a master in web engineering. I
            am experienced with consultant service companies and startups, constantly learning and always hardworking.
            I
            have been creating and evolving websites over the last six years.
          </p>
          <p class="m-0">
            Step by step, pixel by pixel.
          </p>
          <div class="info-list row">
            <div class="col-sm-6"><span>Name: </span> Ismael Ramos Silvan</div>
            <div class="col-sm-6"><span>Date of birth: </span> December 9, 1990</div>
            <div class="col-sm-6"><span>Address: </span> Right now, Madrid, Spain</div>
            <div class="col-sm-6"><span>Email: </span> ramos.silvan.ismael@gmail.com</div>
            <div class="col-sm-6"><span>Phone: </span> + 34 667 220 558</div>
            <div class="col-sm-6"><span>Interest: </span> full-time and freelance</div>
          </div>
        </div>
        <div class="block-content">
          <h3 class="block-title">More about me</h3>
          <div class="row">
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <i class="ion-laptop"></i>
              </div>
              <h4>Gijón, Asturias</h4>
              <p>I was born in Gijón, a small city in the north of Spain. Nowadays I'm living in Madrid with my wife.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <i class="ion-pie-graph"></i>
              </div>
              <h4>Gamer</h4>
              <p>I love all kind of games. It helps me to forget about any problem that I can have just for a while.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <i class="ion-paintbucket"></i>
              </div>
              <h4>Swimming</h4>
              <p>It's my main sport and the healthier one that I have tryied.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <i class="ion-printer"></i>
              </div>
              <h4>Techno</h4>
              <p>My favourite genre of music. Love to code listening some techno and house music.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <i class="ion-qr-scanner"></i>
              </div>
              <h4>Cinema</h4>
              <p>I'm not an expert, but I try to go to the cinema at least once a week. Science fiction and horror
                movies are my favourite ones.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <i class="ion-social-buffer"></i>
              </div>
              <h4>Mountain</h4>
              <p>Some weekends we like to do routes all over Spain. Picos de Europa, Pirineos and Sierra Nevada are our preferences.</p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:ramos.silvan.ismael@gmail.com" target="_top">
              ramos.silvan.ismael@gmail.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks experience">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">Experience</h3>
          <div class="timeline experience">
            <div class="row">
              <div class="col-md-12">
                <div class="exp-holder">
                  <div class="exp">
                    <div class="hgroup">
                      <h4><span>Senior Front end developer</span> @ Accenture Spain</h4>
                      <h5>Jan 2017 - <span class="current">Present</span></h5>
                      <h5>Madrid, Spain</h5>
                    </div>
                    <p>
                      Lead front end developer in Trust · u, a fintech initiative of BBVA · New Digital Businesses in
                      startup mode. We give loans to young SMEs. I work with Angular 5 and NodeJS.
                    </p>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4><span>Full stack developer</span> @ Best Option Group</h4>
                      <h5>Sept 2016 - Jan 2017</h5>
                      <h5>Madrid, Spain</h5>
                    </div>
                    <p>Here I worked in Besgam, an application to compare sports betting. My goal was to renew and
                      optimize the application transversally. It was a short-term project. Here I worked with AngularJS
                      and NodeJS.</p>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4><span>Full Stack developer</span> @ Telecoming</h4>
                      <h5>Jul 2015 - Sept 2016</h5>
                      <h5>Madrid, Spain</h5>
                    </div>
                    <p>In this company, I worked until the completion of an application in real time to manage call
                      centers. I coded with PHP, MySQL and AngularJS.</p>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4><span>Full Stack developer</span> @ Envista Cultura Visual</h4>
                      <h5>Jan 2015 - Jul 2015</h5>
                      <h5>Gijón, Spain</h5>
                    </div>
                    <p>I developed websites for different clients and projects for public administration.</p>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4><span>Internship</span> @ EDP</h4>
                      <h5>Jan 2015 - Jul 2015</h5>
                      <h5>Oviedo, Spain</h5>
                    </div>
                    <p>
                      Period of internship in company programming macros in VBA to process the data received by
                      installed sensors.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content">
          <h3 class="block-title">Education</h3>
          <div class="timeline education">
            <div class="row">
              <div class="col-md-12">
                <div class="exp-holder">
                  <div class="exp">
                    <div class="hgroup">
                      <h4>Master's Degree in Web Engineering | <span>University of Oviedo</span></h4>
                      <h5>2013 - 2015</h5>
                    </div>
                    <p>Postgraduate Master of the European Space of Higher Education (EHEA) of two years where I
                      obtained specialized training.</p>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>Bachelor's Degree in Computer Science and Engineering | <span>University of Oviedo</span></h4>
                      <h5>2008 - 2013</h5>
                    </div>
                    <p>First cycle degree where I acquired skills</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:ramos.silvan.ismael@gmail.com" target="_top">
              ramos.silvan.ismael@gmail.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks portfolio">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">My projects</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="filters">
                <span>Filters :</span>
                <ul id="filters">
                  <li class="active" data-filter="*">All</li>
                  <li data-filter=".webs">Webs</li>
                  <li data-filter=".apps">Apps</li>
                  <li data-filter=".libraries">Libraries</li>
                </ul>
              </div>
              <div class="portfolio-container row isotope" id="portfolio-container">
                <!-- WORK 1 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs" id="angular-example-app-work">
                  <a class="open-project" href="https://www.angularexampleapp.com" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Angular Example App</h2>
                          <hr>
                          <p>A base project with Angular</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/ce28l1P13CVK56OyCN/giphy.gif" alt="angular example app">
                    </div>
                  </a>
                </div>
                <!-- WORK 1 END -->
                <!-- WORK 2 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="project-2.html">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Ampjucks</h2>
                          <hr>
                          <p>Boilerplate to use AMP</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/ce28l1P13CVK56OyCN/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 2 END -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                    <a class="open-project" href="project-3.html">
                      <div class="portfolio-column">
                        <div class="portfolio-hover">
                          <div class="portfolio-content">
                            <h2>Jesus Peñalver</h2>
                            <hr>
                            <p>Portfolio website of a very good friend</p>
                          </div>
                          <div class="portfolio-overlay"></div>
                        </div>
                        <img src="assets/images/portfolio/masonry/003.jpg" alt="">
                      </div>
                    </a>
                  </div>
                <!-- WORK 3 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="project-3.html">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>PPS</h2>
                          <hr>
                          <p>Small website for a hairdressing</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="assets/images/portfolio/masonry/003.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 3 END -->
                <!-- WORK 4 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps">
                  <a class="open-project" href="project-4.html">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Packing up</h2>
                          <hr>
                          <p>Don't forget anything when travel</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="assets/images/portfolio/masonry/004.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 4 END -->
                <!-- WORK 5 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps">
                  <a class="open-project" href="project-5.html">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Gijón Squash Club</h2>
                          <hr>
                          <p>View results of the league</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="assets/images/portfolio/masonry/005.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 5 END -->
                <!-- WORK 6 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps">
                  <a class="open-project" href="project-6.html">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>PPS app</h2>
                          <hr>
                          <p>Get the latest news and offers</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="assets/images/portfolio/masonry/006.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 6 END -->
                <!-- WORK 7 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item libraries">
                  <a class="open-project" href="project-1.html">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Scroll to First Invalid Form</h2>
                          <hr>
                          <p>Shows the error on submit an Angular form</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="assets/images/portfolio/masonry/007.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 7 END -->
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:ramos.silvan.ismael@gmail.com" target="_top">
              ramos.silvan.ismael@gmail.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks contact">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">Get in touch</h3>
          <div class="row">
            <div class="col-md-6">
              <form id="contactForm" data-toggle="validator" class="contact-form shake">
                <div class="form-group">
                  <input id="name" type="text" class="form-control" name="Name" autocomplete="off" required data-error="Please enter your name"
                    placeholder="* Your Name">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input id="email" type="email" class="form-control" name="email" autocomplete="off" required
                    data-error="Please enter your email" placeholder="* Your Email">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <textarea id="message" class="form-control textarea" rows="10" name="Message" required data-error="Please enter your message subject"
                    placeholder="* Your Message"></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <button id="submit" type="submit" class="btn selected">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                </div>
              </form>
            </div>

            <div class="col-md-5 offset-md-1">
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="ion-ios-location-outline"></i>
                </div>
                <div class="contact-details">
                  <h5>Address</h5>
                  <p>Moncloa, Madrid, Spain</p>
                </div>
              </div>
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="ion-ios-telephone-outline"></i>
                </div>
                <div class="contact-details">
                  <h5>Phone</h5>
                  <p><a href="tel:+4402920111222">+34 667220558</a></p>
                </div>
              </div>
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="ion-ios-email-outline"></i>
                </div>
                <div class="contact-details">
                  <h5>Email</h5>
                  <p>ramos.silvan.ismael@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks pop">
      <div id="close-pop" class="close-pop">Close <i class="ion-ios-close-empty"></i></div>
      <section class="content"></section>
    </div>
  </div>
</section>