<div class="inline-menu-container">
  <span class="status">I'm available for freelance</span>
  <ul class="inline-menu">
    <li class="about menu-item">About</li>
    <li class="experience menu-item">Experience</li>
    <li class="portfolio menu-item">My projects</li>
    <li class="contact menu-item">Contact</li>
    <li id="close" class="menu-item"><i class="fas fa-times"></i></li>
  </ul>
</div>
<section class="home img-bg">
  <div class="overlay opacity5"></div>
  <div class="container">
    <div class="name-block">
      <div class="name-block-container">
        <h1><span>Hi, I'm</span>Ismael Ramos</h1>
        <h2 id="element"></h2>
        <a target="_blank" href="assets/pdf/{{localeId}}/IsmaelRamos.pdf" class="btn btn-download">Download Resume</a>
        <ul class="social">
          <li><a href="https://github.com/Ismaestro" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://stackoverflow.com/users/1919749/ismaestro" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ramossilvanismael/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.medium.com/@ismaestro" target="_blank"><i class="fab fa-medium"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="menu-blocks">
      <div class="about-block menu-block">
        <div class="about-block-container">
          <h2 class="about menu-item">About</h2>
        </div>
      </div>
      <div class="experience-block menu-block">
        <div class="experience-block-container">
          <h2 class="experience menu-item">Experience</h2>
        </div>
      </div>
      <div class="portfolio-block menu-block">
        <div class="portfolio-block-container">
          <h2 class="portfolio menu-item">My projects</h2>
        </div>
      </div>
      <div class="contact-block menu-block">
        <div class="contact-block-container">
          <h2 class="contact menu-item">Contact</h2>
        </div>
      </div>
    </div>
    <div class="content-blocks about">
      <section class="content" id="about">
        <div class="block-content">
          <h3>
            I am a full time <strong>front-end developer</strong> and do full stack in the remaining time.
          </h3>
          <p class="m-0">
            I work on both sides in my personal projects, but front end is what I like the most.
          </p>
          <p class="m-0">
            I have completed my Computer Science degree, and finished a master in web engineering. I
            am experienced with consultant service companies and startups, constantly learning and always hardworking.
            I have been creating and evolving websites over the last six years.
          </p>
          <p class="m-0">
            Step by step, pixel by pixel.
          </p>
          <div class="info-list row">
            <div class="col-sm-6"><span>Name: </span> Ismael Ramos Silvan</div>
            <div class="col-sm-6"><span>Date of birth: </span> December 9, 1990</div>
            <div class="col-sm-6"><span>Address: </span> Right now, Madrid, Spain</div>
            <div class="col-sm-6"><span>Interest: </span> full-time and freelance</div>
          </div>
        </div>
        <div class="block-content">
          <h3 class="block-title">More about me</h3>
          <div class="row">
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/gijon.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Gijón, Asturias</h4>
              <p>I was born in Gijón, a small city in the north of Spain. Nowadays I'm living in Madrid with my wife.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/gamer.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Gamer</h4>
              <p>I love all kind of games. It helps me to forget about any problem that I can have just for a while.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/swimingpool.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Swimming</h4>
              <p>It's my main sport and the healthier one that I have tryied.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/techno.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Techno</h4>
              <p>My favourite genre of music. Love to code listening some techno and house music.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/cinema.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Cinema</h4>
              <p>I'm not an expert, but I try to go to the cinema at least once a week. Science fiction and horror
                movies are my favourite ones.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/collado.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Mountain</h4>
              <p>Some weekends I like to do routes all over Spain. Picos de Europa, Pirineos and Sierra Nevada are our
                preferences.</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 mx-auto text-center">
              <iframe src="https://open.spotify.com/embed/user/isma-estro/playlist/0hFp94ZaMRg6kPCUTnaP9o" width="300"
                height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:ramos.silvan.ismael@gmail.com" target="_top">
              ramos.silvan.ismael@gmail.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks experience">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">Experience</h3>
          <div class="timeline experience">
            <div class="row">
              <div class="col-md-12">
                <div class="exp-holder">
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Front end developer</span>
                        <br>
                        <a href="https://www.metastartup.com" target="_blank">@ Metastartup</a>
                      </h4>
                      <h5>May 2018 - <span class="current">Present</span></h5>
                      <h5>Madrid, Spain</h5>
                    </div>
                    <p>
                      Actualmente trabajo como Front end developer liderando la parte frontal de la nueva plataforma de
                      becas del banco Santander y también ayudo a definir la arquitectura del proyecto.
                      En el front usamos Angular 6+, Karma, Jasmine, Cucumber y Protractor así como Bootstrap 4 con
                      SASS, entre otros. En el back
                      tenemos microservicios con NodeJS, MongoDB, Redis y Kafka.
                      Para desplegar tenemos Jenkins y para gestionar los contenedores, Kubernetes.
                      Nuestra metodología es SCRUM (sprints de dos semanas) y usamos JIRA para la gestión de las
                      tareas.
                    </p>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Front end developer</span>
                        <br>
                        <a href="https://www.accenture.com/es-es/service-liquid-squad-accenture-digital" target="_blank">
                          @ Liquid Squad Accenture Spain
                        </a>
                      </h4>
                      <h5>Jan 2017 - May 2018</h5>
                      <h5>Madrid, Spain</h5>
                    </div>
                    <div>
                      <p class="m-0">Lead front end developer en Trust·u, una iniciativa fintech de BBVA en modo
                        startup que se dedicaba a dar préstamos a pymes jóvenes.</p>
                      <ul>
                        <li>Programación con Angular 5+ y Typescript (Angular CLI)</li>
                        <li>Uso de Bootstrap, SASS (BEM), Responsive Design, CSS3, Gulp y NPM</li>
                        <li>Creación de tests con Protractor, Karma y Jasmine (unitarios)</li>
                        <li>Gestión de errores con Sentry</li>
                        <li>La arquitectura estaba basada en microservicios con Docker</li>
                        <li>Diseño de la arquitectura para hacer mantenible todo de cara a futuro</li>
                        <li>Especial cuidado del rendimiento y la seguridad de la aplicación</li>
                        <li>Desarrollo y evolución del SEO de la web</li>
                        <li>Apoyo en momentos puntuales al back. NodeJS y MongoDB.</li>
                        <li>Como sistema de control de versiones usamos GIT</li>
                        <li>Metodología ágil (SCRUM)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Full stack developer</span>
                        <br>
                        <a href="https://bestoptionmedia.com/" target="_blank">@ Best Option Group</a>
                      </h4>
                      <h5>Sept 2016 - Jan 2017</h5>
                      <h5>Madrid, Spain</h5>
                    </div>
                    <div>
                      <p class="m-0">
                        Aquí trabajé en la parte frontal de una aplicación para comparar apuestas deportivas. Mi
                        objetivo fue renovar y optimizar de forma transversal la web.
                      </p>
                      <ul>
                        <li>Programación con Javascript (jQuery), CSS3 (SASS y Bootstrap) y AngularJS</li>
                        <li>Programación de tareas con Gulp y NPM</li>
                      </ul>
                      <p>
                        Durante este periodo, también añadí tests a la aplicación, mejoré el SEO de la web, y en
                        el back ayudé en el diseño de la BD para migrar los datos a MongoDB.
                      </p>
                    </div>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Full Stack developer</span>
                        <br>
                        <a href="https://www.telecoming.com" target="_blank">@ Telecoming</a>
                      </h4>
                      <h5>Jul 2015 - Sept 2016</h5>
                      <h5>Madrid, Spain</h5>
                    </div>
                    <div>
                      <p class="m-0">
                        En esta empresa, trabajé hasta la finalización de una aplicación real-time para gestionar un
                        call center.
                      </p>
                      <ul>
                        <li>Front con AngularJS y jQuery, además de SASS y Angular Material</li>
                        <li>Back: NodeJS (Express) para crear dos servicios, uno de Chat (SocketIO) y otro de Email
                          (Sendgrid). PHP (Zend Framework) para programar el backoffice.</li>
                        <li>Tests con PHPUnit en el back y Karma-Jasmine y Protractor en el front</li>
                        <li>Uso de Redis, Memcached, Beanstalkd y Jenkins</li>
                        <li>Otros: GIT, Gulp y NPM</li>
                        <li>Como metodología de trabajo usábamos SCRUM.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Full Stack developer</span>
                        <br>
                        <a href="https://www.envista.es/" target="_blank">@ Envista Cultura Visual</a>
                      </h4>
                      <h5>Jan 2015 - Jul 2015</h5>
                      <h5>Gijón, Spain</h5>
                    </div>
                    <div>
                      <p class="m-0">Desarrollé webs para diferentes clientes y proyectos para la administración
                        pública.</p>
                      <ul>
                        <li>Back: Programación con PHP y MySQL</li>
                        <li>Front: Programación con Javascript (jQuery) y CSS3 (SASS)</li>
                        <li>Maquetación de contenidos mediante Responsive Design (Foundation)</li>
                        <li>CMS: Creación de webs en Wordpress (theme) y Joomla</li>
                        <li>eCommerce: Creación de tiendas con Prestashop</li>
                        <li>Técnicas de posicionamiento en buscadores (SEO)</li>
                        <li>
                          Toma de contacto, asesoramiento y desarrollo de proyectos a medida según los requisitos del
                          cliente
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="exp">
                    More in the resume
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content">
          <h3 class="block-title">Education</h3>
          <div class="timeline education">
            <div class="row">
              <div class="col-md-12">
                <div class="exp-holder">
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Master's Degree in Web Engineering</span>
                        <br>
                        <a href="http://www.uniovi.es/en" target="_blank">@ University of Oviedo</a>
                      </h4>
                      <h5>2013 - 2015</h5>
                    </div>
                    <div>
                      <p class="m-0">
                        Máster Postgrado del Espacio Europeo de Educación Superior (EEES) donde obtuve una formación
                        especializada en:</p>
                      <ul>
                        <li>Desarrollo web Front-end (HTML5, CSS3, SASS, jQuery y AngularJS)</li>
                        <li>Metodologías de programación en Java, PHP, y conceptos básicos de NodeJS</li>
                        <li>Desarrollo de aplicaciones web usando patrones de diseño y servicios web</li>
                        <li>Conceptos avanzados de usabilidad, accesibilidad y posicionamiento web (SEO)</li>
                        <li>Desarrollo de aplicaciones en dispositivos móviles Android (Java 7)</li>
                        <li>Administración y programación en CMS: Joomla y Wordpress (theme)</li>
                        <li>Formación en Web Semántica (Schema y datos estructurados)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Bachelor's Degree in Computer Science and Engineering</span>
                        <br>
                        <a href="http://www.uniovi.es/en" target="_blank">@ University of Oviedo</a>
                      </h4>
                      <h5>2008 - 2013</h5>
                    </div>
                    <div>
                      <p class="m-0">Título de primer ciclo donde adquirí competencias en:</p>
                      <ul>
                        <li>Programación en C++ y Java</li>
                        <li>Conceptos básicos de HTML y CSS3</li>
                        <li>Administración de servidores: Windows y Linux</li>
                        <li>Estudio y análisis matemático</li>
                        <li>Modelación de problemas mediante UML</li>
                        <li>Diseño de bases de datos relacionales</li>
                        <li>Patrones de diseño, refactoring y buenas practicas</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:ramos.silvan.ismael@gmail.com" target="_top">
              ramos.silvan.ismael@gmail.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks portfolio">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">My projects</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="filters">
                <span>Filters :</span>
                <ul id="filters">
                  <li class="active" data-filter="*">All</li>
                  <li data-filter=".webs">Webs</li>
                  <li data-filter=".apps">Apps</li>
                  <li data-filter=".libraries">Libraries</li>
                </ul>
              </div>
              <div class="portfolio-container row isotope" id="portfolio-container">
                <!-- WORK 1 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs" id="angular-example-app-work">
                  <a class="open-project" href="https://www.angularexampleapp.com" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Angular Example App</h2>
                          <hr>
                          <p>A base project with Angular</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/ce28l1P13CVK56OyCN/giphy.gif" alt="angular example app">
                    </div>
                  </a>
                </div>
                <!-- WORK 1 END -->
                <!-- WORK 2 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="https://ampjucks.com/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Ampjucks</h2>
                          <hr>
                          <p>Example boilerplate to use AMP with templates</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/1ZmidYgwwXCs0oFpIK/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 2 END -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="https://jesuspeñalver.es/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Jesus Peñalver</h2>
                          <hr>
                          <p>Portfolio website of a good friend of mine</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/1xOf7L7IlNyJgr22pa/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 3 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="https://peluqueriapilarsilvan.com/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>PPS web</h2>
                          <hr>
                          <p>Small website for a hairdressing</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/5QP4UwRLDklpS4pUlx/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 3 END -->
                <!-- WORK 4 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps" style="padding: 6%;">
                  <a class="open-project" href="https://play.google.com/store/apps/details?id=gijonsquashclub.liga"
                    target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Gijón Squash Club</h2>
                          <hr>
                          <p>For view results of the league and find other players</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/2Yb1AnOwYGBWjuXAKQ/giphy.gif" alt="">
                    </div>
                  </a>
                </div>

                <!-- WORK 4 END -->
                <!-- WORK 5 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps" style="padding: 6%;">
                  <a class="open-project" href="https://play.google.com/store/apps/details?id=packingup.core.activities"
                    target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Packing up</h2>
                          <hr>
                          <p>Don't forget anything when travel</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/6bcf8s3JAWHmevnEmV/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 5 END -->
                <!-- WORK 6 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps" style="padding: 6%;">
                  <a class="open-project" href="https://play.google.com/store/apps/details?id=peluqueria.pilar.silvan"
                    target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>PPS app</h2>
                          <hr>
                          <p>For get the latest news and offers</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/1fgkWO4dvTuG0KaU50/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 6 END -->
                <!-- WORK 7 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item libraries">
                  <a class="open-project" href="https://ismaestro.github.io/ngx-scroll-to-first-invalid/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Scroll to First Invalid Form</h2>
                          <hr>
                          <p>Shows the error on submit an Angular form</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/yNi7F2K2L2nRTiD4O2/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 7 END -->
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:ramos.silvan.ismael@gmail.com" target="_top">
              ramos.silvan.ismael@gmail.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks contact">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">Get in touch</h3>
          <div class="row">
            <div class="col-md-5">
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="fas fa-location-arrow"></i>
                </div>
                <div class="contact-details">
                  <h5>Address (approx.)</h5>
                  <p>Moncloa, Madrid, Spain</p>
                </div>
              </div>
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="fas fa-phone-volume"></i>
                </div>
                <div class="contact-details">
                  <h5>Phone</h5>
                  <p><a href="tel:+4402920111222">+34 667 220 558</a></p>
                </div>
              </div>
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="far fa-envelope-open"></i>
                </div>
                <div class="contact-details">
                  <h5>Email</h5>
                  <p>ramos.silvan.ismael@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10577.074440245013!2d-3.7182587801744145!3d40.433223029423615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1543863415345"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks pop">
      <div id="close-pop" class="close-pop">Close <i class="ion-ios-close-empty"></i></div>
      <section class="content"></section>
    </div>
  </div>
</section>
