.img-bg {
  background: url('/assets/images/background.jpg') 0 0;
  background-size: cover;
}

.exp {
  ul {
    list-style-type: disc;
    padding-left: 3rem;
  }
}

.timeline:before {
  content: "";
  left: 19px;
  top: 40px;
  height: 96%;
}

.exp .hgroup h5 {
  padding-left: 30px;

  &:before {
    left: 15px;
  }
}

.cover-image {
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 50%;
  margin: 0 auto;
}
